.dropdown{
  /* display: inline-block; */
}

.btn{
  display: block;
  border: none;
  background-color: lightslategray;
  color: white;
  width: 120px;
  padding: 20px 0;
  cursor: pointer;
}

.droplist{
  position: absolute;
  pointer-events: none;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 400ms;
  opacity: 0;

}

.droplist a{
  display: block;
  width: 120px;
  text-decoration: none;
  text-align: center;
  padding: 12px 0;
  background-color: lightgray;
  color: black;

}

.dropdown .btn:focus + .droplist{
  transform: scaleY(1);
  opacity: 1;

  pointer-events: all;
}
